### admin files
.DS_Store
.gitattributes


### checkpoints 
/.ipynb_checkpoints/**
/data/final/.ipynb_checkpoints/**
/data/processed/.ipynb_checkpoints/**
/data/raw/.ipynb_checkpoints/**
/images/.ipynb_checkpoints/**
/notebooks/.ipynb_checkpoints/**
/src/.ipynb_checkpoints/**
/src/api/.ipynb_checkpoints/**
/src/data/.ipynb_checkpoints/**
/src/models/.ipynb_checkpoints/**
/src/models/visualisations/.ipynb_checkpoints/**
/src/processing/.ipynb_checkpoints/**
/src/utils/.ipynb_checkpoints/**
/src/visualisation/.ipynb_checkpoints/**

### pycache
/__pycache__/**
/data/final/.__pycache__/**
/data/processed/.__pycache__/**
/data/raw/.__pycache__/**
/src/__pycache__/**
/src/api/__pycache__/**
/src/data/__pycache__/**
/src/models/__pycache__/**
/src/models/visualisations/__pycache__/**
/src/processing/__pycache__/**
/src/utils/__pycache__/**
/src/visualisation/__pycache__/**


### data
/data/raw/comments_3_videos_test.csv
/data/raw/ultimate_edition_trailer_comments.csv
/data/raw/video_data.csv
/data/raw/
/data/raw/


### folders
/docs/**
/.git/**
/.venv/**
/.vscode/**
/.idea/**



### images


### notebooks
/notebooks/~notes.ipynb
/notebooks/~plan.ipynb
/notebooks/0.testing.ipynb
/notebooks/1.0.get_video_ids.ipynb
/notebooks/1.1.get_video_data.ipynb
/notebooks/1.2.get_video_comments.ipynb
/notebooks/1.3.combine_dataframes.ipynb
/notebooks/2.0.pre-processing_cleaning.ipynb
/notebooks/2.1.tokenization.ipynb
/notebooks/2.2.lemmatization.ipynb
/notebooks/2.3.stop_words.ipynb
/notebooks/2.4.remove_tekken_character_names.ipynb
/notebooks/2.5.parts_of_speech.ipynb
/notebooks/2.6.remove_tiny_tokens.ipynb
/notebooks/3.0.eda.ipynb
/notebooks/4.0.model_LDA.ipynb
/notebooks/4.1.LDA.ipynb
/notebooks/4.2.0.NMF.ipynb
/notebooks/4.2.1.NMF-5-topics.ipynb
/notebooks/4.3.LSA.ipynb



### files
/src/api/get_comments.py
/src/api/get_data_youtube_comments.py



### other
.env
